<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Home</title>
</head>
<body>
<h2 style="color: darkslateblue">Admin Home Page</h2>
<h4>WELCOME!</h4><td th:text="${session.email}"></td>
</br>
</br>
<a th:href="@{/addProductPage}">Add Product</a> |
<a th:href="@{/addCategoryPage}">Add Category</a></br>
<a th:href="@{/viewProductsPage}">View Products</a> |
<a th:href="@{/viewCustomersPage}">View Customers</a> |
<a th:href="@{/viewCategoryPage}">View Categories</a></br>
<a th:href="@{/purchaseReports}">Purchase Reports</a> |
<a th:href="@{/changePassword}">Change Password</a>
</body>
</html>